* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 15px;
}
section{
    gap: 20px;
    display: flex;
}

.section-right {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 40%;
}

.hero img {
    width: 100%;
    border-radius: 15px;
}

.section-middle {
    justify-content: space-between;
    margin-top: 20px;
    display: flex;
}

.section-middle h1 {
    color: #000000;
}

.section-middle button {
    padding: 10px 20px;
    color: #598EC2;
    border-radius: 32px;
    border: 1px;
}

.section-text h3 {
    padding: 8px 0px;
}

.section-logo button {
    font-family: Raleway;
    background-color: #27AE60;
    padding: 2px 14px;
    border-radius: 17px;
}

.section-logo {
    gap: 12px;
}
.section-right{
    padding: 8px 0;
}
.section-hero{
    padding: 20px;
}
.footer-child{
    color: #90A4AE;
    padding: 10px;
   gap: 200px;
display: flex;
}
.child-end{
    color: #607D8A;
  gap: 180px;
    display: flex;
}